@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Serif Display", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #052e16;
}
#Name {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  font-style: normal;
}
